@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
  @apply fixed z-[9999] bg-hitamBg bg-opacity-70;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 00 rgba(255, 255, 255, 0.1);
}

.humberger-line {
  @apply w-[30px] h-[2px] my-2 block bg-white;
}

.humberger-active > span:nth-child(1) {
  @apply rotate-45;
}
.humberger-active > span:nth-child(2) {
  @apply scale-0;
}

.humberger-active > span:nth-child(3) {
  @apply -rotate-45;
}

#typing-subheading,
#typing-paragraph {
  transition: opacity 1s ease, transform 1s ease;
}

#typing-subheading,
#typing-paragraph {
  opacity: 0;
  transform: translateY(20px);
}

#typing-heading {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

#typing-button {
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(20px);
}

#scrollTopButton {
  display: none;
  transition: opacity 0.3s, visibility 0.3s;
}

#scrollTopButton.active {
  display: block;
}

#nav-menu a.active {
  /* Gaya tautan aktif */
  color: #0369a1;
}
